In [13]:
# Importing the Data

import pandas as pd

music_data = pd.read_csv('data/music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [6]:
# Preparing the Data

# Create a new data set by drop the specified column from a data set.
input_set = music_data.drop(columns=['genre'])
input_set

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [5]:
# Create a new data set with the specified column from a data set.
output_set = music_data['genre']
output_set

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [11]:
# Learning and Predicting

from sklearn.tree import DecisionTreeClassifier as DTC

# Instance of the DTC class which is an object.
model = DTC()

# Train the model
model.fit(input_set, output_set)

# Predict output for data that are not available in the input set
predictions = model.predict([
        # [age, gender] as in the input set.
        [21, 1],
        [22, 0]
    ]
)

predictions

array(['HipHop', 'Dance'], dtype=object)

In [44]:
# Calculating the Accuracy

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Splitting the data into training and testing sets with 20% data allocated for testing.
# Increasing the value of test_size will reduce the accuracy as less data will be there for training.
# For example for test_size = 0.2, score = 0.75 to 1.0. But for test_size = 0.8, score = 0.2 to 0.4.
# For test_size=0.1, score = 1.0. 1.0 means 100%, 0.2 means 20%, 0.33 means 33%, and so on.
# On each run train_test_split() picks data randomly for training. Thus, accuracy may defer on each run.
input_train, input_test, output_train, output_test = train_test_split(input_set, output_set, test_size=0.2)

model.fit(input_train, output_train)
predictions = model.predict(input_test)

score = accuracy_score(output_test, predictions)
score

0.5